__pycache__/
*.pyc
venv/
.env
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/app/google-services.json
mobile/ios/Pods/
mobile/ios/Runner/GoogleService-Info.plist
mobile/lib/firebase_options.dart
.idea/
*.iml
.DS_Store
postgres_data/
minio_data/