SECRET_KEY=change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=postgres://fieldpulse_user:fieldpulse_pass@db:5432/fieldpulse

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minio_admin
MINIO_SECRET_KEY=minio_password
MINIO_BUCKET_NAME=fieldpulse
MINIO_USE_SSL=False

DJANGO_SETTINGS_MODULE=config.settings.dev